<%- include('includes/header.ejs') %>





    <h1>Express Boiler with Bootstrap 5</h1>
    <h3>Javascript Dependancies</h3>
    <ul>
        <li>Express</li>
        <li>DOTenv</li>
        <li>Morgan</li>
        <li>Body-Parser</li>
        <li>EJS</li>
        <li>Mongoose</li>
    </ul>




    

    <%- include('includes/footer.ejs') %>

    